body {
	background-color: lightblue;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.filter {
	height: 40px;
}

.tags {
	margin: auto;
	background-color: white;
	width: 30%;
	padding: 10px;
}

.tags.show {
	display: none;
}

#submit-button {
	float: right;
	margin-right:10px;
}

.filter button {
	float: right;
    margin-right:50px;
}

.box {
	margin: 10px 10px;
	position: relative;
	height: 500px;
	width: 400px;
	background-color: white;
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.box.flipped {
	transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	top: 25px;
	backface-visibility: hidden;   
}

img {
	height: 350px;
	width: 350px;
}

.front {
	left: 25px;  
}

.back {
	right: 25px; 
	transform: rotateY(180deg);
}

.back p {
	display: block;
}

